<link href="../lib/css/common.css" rel="stylesheet">

<nav class1="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div id='divHeader' ng-click='app.handleEvent($event)'>
		<div class="container-fluid no-padding">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">					
				<div class="no-padding">
					<div class="navbar-header" style="float:none">
						<a class="" href="" style='cursor:default;'>
							<div class='divLogoImg'><img src="img/logo_lgn.png" class="" style="height:50px;padding:4px;margin-top: -15px;"/></div>
							<div class='divProductText'><div class='divPrdName_lite'>Matrimony Horat</div></div>
						</a>
						<div class="divLogout">
							<a class="a_help fa fa-power-off fa_icon_black" href="#/" ng-click="logout()" title="Logout"></a>
						</div>
					</div>
				</div>	
				
			</div>
		</div>
		<div id="mainmenu"></div>
		<div id='popupload' style='display:none;'>
			<div class='popuploadcon'>
				<img src="img/loader.gif"/>
			</div>
		</div>
		<div id='mask'></div>
	</div>
</nav>
